/* https://unsplash.com/photos/9Z1KRIfpBTM Photo Cred*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    font-family: 'Raleway', sans serif;
}

ul {
    border-top: 1.5px solid #878b58;
    list-style: none;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: #3B562D;
}

a:hover {
    color: #AEB06E;
}

li {
    text-align: right;
    display: inline;
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    color: #3B562D;
}

h1 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: 200;
    font-size: 25px;
    padding: 20px;
    color: #3B562D;
}

h2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-weight: 200;
    font-size: 25px;
    padding: 20px;
    color: #3B562D;
}

span:hover {
    color: #AEB06E;
}

.header {
    margin: 0 auto;
    padding: 0;
    display: block;
}

.nav {
    position: absolute;
    top: 70px;
    right: 0px;
}

img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img {
      left: 50%;
      margin-left: -510px;   /* 50% */
      top: 0
    }
    .nav {
        padding-top: 20px;
    }
    h2 {
        display: none;
    }
  }